@mixin add_transition($atr,$time:0.5,$ease:ease-in-out){
	-webkit-transition:$atr $ease $time+s;
	-moz-transition:$atr $ease $time+s;
	-o-transition:$atr $ease $time+s;
	transition:$atr $ease $time+s
}
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// A few global overrides to make things look nice
:global {
    .Block-content:last-child {
      margin-bottom: 100vh !important; // seems to override
    }
    .Block-content:first-child {
      margin-top: 100vh !important; // seems to not override ¯\_(ツ)_/¯
    }
    .Block.is-richtext,
    .scrollyteller-stage {
      background: #eee;
    }
    .embed-fragment {
      margin-bottom: 0;
    }
    // Space out content
    .is-piecemeal > .Block-content {
      margin-top: 52vh;
      margin-bottom: 52vh;
    }
  }

  
.root{
    width:500px;
    height:700px;

    margin:0 auto;
    left:0;right:0;
    position: relative;
    margin-top:100px;

}
.image{
    width:200px;
    height:auto;
    position:absolute;

    bottom:0;
    left:0; right:0; margin:auto;
}

$background-color:#eee;
$text-color:#222;
$primary-color:#e52424;
$secondary-color:#0033f6;
$thirdary-color:#ffb41d;
$border-color:#222;

.body{
    background:$background-color;
    width:100%;
    height:100%;
    
    div{
        position:relative;
    }

    .aniButtonHolder{
        width:100%;
        position: absolute;
        top:0px;
        left:0;
        text-align:center;
        padding:1em;
    }
    .anibutton{
        width: 100px;
        height: 20px;
        background: #f2f2f2;
        cursor: pointer;
        display: inline-block;
        margin: 0.1em;
        font-size: 10px;
        font-weight: 900;
        padding: 0.3em 0;

    }
    .canvas{
        width:700px;
        height:600px;
        margin-top:100px;
        overflow:hidden;

        position: absolute;
        margin: auto;
        top: 100px;
        left: 5%;

        @media (max-width:700px){
            transform: matrix(0.6, 0, 0, 0.6, 0, 0);
            left: -65%;
            top: 0;
        }
        @media (max-width:500px){
            transform: matrix(0.4, 0, 0, 0.4, 0, 0);
            left: -65%;
            top: 0;
        }
        
        
        .frameHolder{
            position: absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            z-index:10;
            .circleMask{
                position: absolute;
                background: $background-color;
                border-radius: 50%;
                margin: auto;
                width:100px;
                height:100px;
                top:0;left:0;right:0;bottom:0;
                z-index: 50;
            }
        }
        .tick{
            
            position:absolute;
            z-index: 10;
            right: 0%;
            top: 162px;
        }

        .shoeHolder{
            width:500px;
            height:400px;
            position: absolute;

            
        }
        .shoeHolderFront{
            z-index: 10;
        }
        .shoeHolderBack{
            z-index: 5;
        }

        .dollarCount{
            bottom: 0;
            position: absolute;
        }

        .shoeMask{
            width:100%;height:100%;
            z-index: 5;
            background:$background-color;
            border-radius: 50%;
            position: absolute;
        }
        .imageHolder{
            width:100%;
            height:auto;
            position:absolute;
            top:0;
            left:0;
            img{
                width:100%;height:auto;
            }
        }
        .shoeFront{
            z-index: 6;
            top:50px;
            left:50px;
        }
        .shoeBack{
            z-index: 1;
        }

        .netherlandsFlag{
            width: 100%;
            max-width:500px;

            position: absolute;
            z-index: 20;
            margin: 0 auto;
            left: 0; right:0;
            top: 0;
        }
        .ausFlag{
             @extend .netherlandsFlag;
        }

        .burst{
            overflow: hidden;
            overflow: hidden;
            position: absolute;

            left: 0;
            top: 0;
    
            
            .line{fill:none;stroke:rgba(255,255,255,0.5);stroke-width:15;stroke-linecap:round;stroke-miterlimit:10;}
            .circlemask{fill:$background-color;}
        }
        .coin{
            width: 40%;
            height: auto;
            position: absolute;
            bottom: 15%;
            .coinTop{
                position:relative;
                z-index: 2;
            }
            .coinBottom{
                position: absolute;
                top:0;
                left:0;
                z-index: 1;
            }
        }
        .patentSwoosh{
            width:250px;
            height:auto;
            top:10%;
            left:10%;
            z-index: 10;
        }
        .patentBubble{
            @extend .patentSwoosh;
            right:10%;
            left:auto;
        }
        .patentHolder{
            width: 100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
            
            
            .patentBlank{
                display: inline-block;
                width:50px;
                height:auto;
                position:relative;
            }
        }
    }
    
    $row-height:50px;
    $row-margin:10px;


    .simpleGraph{


        width:70%; height:auto;
        padding:50px 5px;

        border-left:2px solid $border-color;
        border-bottom:2px solid $border-color;

        position:absolute;
        bottom:0; left:0;

        .simpleRow{
            width:100%;
            height: $row-height;
            margin-bottom: $row-margin;
            border-radius:3px;
    
                &[data-row="0"]{
                    background: $primary-color;
                }
                &[data-row="1"]{
                    background: $secondary-color;
                }
                &[data-row="2"]{
                    background: $thirdary-color;
                }
                &[data-row="3"]{
                    background: $primary-color;
                }


            .simpleLabel{
                position: absolute;
                right: -100px;
                width: 100px;
                height: 100%;
                color: $text-color;
                font-family: "ABCsans";
                font-weight: bold;
                padding: 2px;
                font-size: 1.1em;
                
            }

        }
        .simpleCaption{
            position: absolute;
            bottom: -25px;
            width: 100%;
            text-align: center;
            font-family: "ABCsans";
            color: $text-color;
            padding: 5px;
            @media (max-width:500px){
                font-size: 25px;
                font-weight: 900;
                bottom: -50px;
            }
        }
        .simpleScale{
            width: 100%;
            height: 20px;
            position: absolute;
            left: -5%;
            bottom: -20px;
            

            .simpleScaleLabel{
                height: 100%;
                position: absolute;
                top: 0;
                width: 60px;
                text-align: center;
                font-family: "ABCsans";
                font-weight: bold;
            }
        }

    }
    .numberHolder{
        
        
        color:$text-color;

        width: 100%;
        text-align: left;
        font-weight: bold;
        font-size: 40px;
        z-index: 20;
    }

    .oz{
    position: absolute; left:0;right:0;top:0;bottom:0;margin:auto;  
    }

    .Costs{

        position: absolute;
        bottom:0;
        height:210px;
        width:100%;
        overflow: hidden;

        .costRow{
            @extend .numberHolder;
            position: absolute;
            bottom: 0;
            em{
                font-size:0.7em;
            }
        }
        .costResult{
            @extend .numberHolder;
            position: absolute;
            .costBorder{
                width:100%;
                margin:0 auto;
                top:0;left:0;right:0;
                //border-top:1px solid #fff;
            }

        }
    }
    .label{
        position: absolute;
        z-index: 10;
        .labelArm{
            border-bottom: 1px solid #222;
            
            bottom: 36px;
            width: 80px;
            height: 90px;
            position: absolute;

        }
        .labelArmLeft{
            @extend .labelArm;
            left: -80px;
            border-left: 1px solid #222;
        }
        .labelArmRight{
            @extend .labelArm;
            right:-80px;
            border-right:1px solid $border-color;
        }
        .labelBox{
            width: 160px;
            height: 70px;
            border: 1px solid #222;
            color: #222;
            padding: 15px 0px;
            text-align: center;
            font-size: 23px;
            font-style: italic;
        }
    }
}
